 #header {
                color: white;
                background-color: black;
                padding-left:100px;
                font-style:italic;
                font-size:30px;
                position:relative;
                left:10px;
                
            }

            h2{
                color:red;
                font-size:28px;
            }
                body{
                    background-color: lightyellow;
                    padding:1em;
                    border:2px solid black;
                    margin:2em;
                }
            a {
                        text-decoration: none;
              }
                p{
                font-size:25px;
                 }
            
               .paragraph-pink
                {
                    color:rgb(227, 41, 208);
                }
               .highlight:hover
                {
                 background-color:green;
                    color:white;
                }
                 .highlight
                {
                 background-color:lightgreen;
                 }
                 li
                 {
                     font-size:26px;
                }
              #hi
              {
                 float:left;
                 margin:20px;
                 padding:20px;
                     
              }
             #clap 
             {
            padding:20px;
            margin:50px;
            }
            #run
            {
             float: right;
             padding-right:70px;
             margin:50px;
             }
                    
